
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>

<body>

	<div th:replace="common/header :: navbar"></div>



	<div class="container" style="width: 100%">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-xs-8">
				<h2 class="section-headline">
					<span th:text="${user}? ${#strings.toUpperCase(user.username)}"></span>
				</h2>
			</div>
		</div>
		<form th:action="@{/wishList/addItem}" method="post">
			<input hidden="hidden" th:field="*{book.id}"/>
			<div class="row" style="margin-top: 120px;">
				<div class="col-sm-3">
					<a th:href="@{/bookshelf}">Back to Booklist</a>
					<img class="img-responsive shelf-book" th:src="#{adminPath}+@{/images/book/}+${book.id}+'.png'"/>
				</div>
				<div class="col-sm-9">
					<h3 th:text="${book.title}"></h3>
					<div class="row">
						<div class="col-sm-5">
							<h5><strong>Author:	</strong><span th:text="${book.author}"></span></h5>
							<p><strong>Publisher:	</strong><span th:text="${book.publisher}"></span></p>
							<p><strong>Publication Date:	</strong><span th:text="${book.publicationDate}"></span></p>
							<p><strong>Language:	</strong><span th:text="${book.language}"></span></p>
							<p><strong>Category:	</strong><span th:text="${book.category}"></span></p>
							<p><strong><span th:text="${book.format}"></span>:	</strong><span th:text="${book.noOfPages}"></span> pages</p>
							<p><strong>ISBN:	</strong><span th:text="${book.isbn}"></span></p>
							<p><strong>Shipping Weight:	</strong><span th:text="${book.shippingWeight}"></span></p>
						</div>
						<div class="col-sm-7">
							<div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
								<div class="panel-body">
									<div class="row">
										<div class="col-sm-6" offset="col-sm-3">
											<h4>Our Price:	<span style="color: #db3208;">&#8377;<span th:text="${book.ourPrice}"></span></span></h4>
											<p>List Price:	<span style="text-decoration: line-through;">&#8377;<span style="text-decoration: line-through;" th:text="${book.listPrice}"></span></span></p>
											<p>You Save:	&#8377;<span th:text="${#numbers.formatDecimal((book.listPrice - book.ourPrice), 0, 'COMMA', 2, 'POINT')}"></span></p>
											<span>Qty:	</span>
											<select name="qty">
												<option th:each="qty: ${qtyList}" th:value="${qty}" th:text="${qty}"></option>
											</select>
										</div>
										<div class="col-sm-6">
											<h4 th:if="${book.inStockNumber&gt;10}" style="color: green;">In stock</h4>
											<h4 th:if="${book.inStockNumber&lt;10 and book.inStockNumber&gt;0}" style="color: yellow;">Only <span th:text="${book.inStockNumber}"> in stock! Order fast.</span></h4>
											<h4 th:if="${book.inStockNumber==0}" style="color: red;">Out of Stock :(</h4>
											<button type="submit" class="btn btn-warning" style="color: black;border: 1px solid black; padding: 10px 40px 10px 40px;">Interested </button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr/>
					<p th:utext="${book.description}"></p>
				</div>
			</div>
		</form>
	</div>
	
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
